################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyConcept.BusinessLogic/bin/Debug/net8.0
/MyConcept.BusinessLogic/obj/Debug/net8.0
/MyConcept.Data/bin/Debug/net8.0
/MyConcept.Data/obj/Debug
/MyConcept.Data/obj
/MyConcept.BusinessLogic/obj
/MyConcept.WebAPI/bin/Debug/net8.0
/MyConcept.WebAPI/obj
*.user
