################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyConcept.BusinessLogic/bin/
/MyConcept.BusinessLogic/obj
/MyConcept.Data/bin/
/MyConcept.Data/obj
/MyConcept.WebAPI/bin
/MyConcept.WebAPI/obj
*.user
